ul.contextMenu {
  list-style: none;
  margin: 0;
  padding: 0.3em;
  font: 300 15px "Roboto", sans-serif;
  position: absolute;
  color: white;
  box-shadow: 0 12px 15px 0px rgba(0, 0, 0, 0.2);
  border-radius: 0.3em;
  background-color: #23445e;
}
ul.contextMenu * {
  transition: all 0.4s;
}
ul.contextMenu li {
  min-width: 150px;
  overflow: hidden;
  white-space: nowrap;
  padding: 12px 15px;
  cursor: default;
  border-radius: 0.2em;
}
ul.contextMenu li i {
  width: 1.2em;
}
ul.contextMenu li i.fa-file-lines {
  position: relative;
  left: 2px;
}

ul.contextMenu li i.fa-code {
  position: relative;
  right: 3px;
}

ul.contextMenu li:hover {
  background-color: #395973;
}
